

<div class="container">
    <div class="chessboard">
      @for (row of chessboardService.chessboard(); track row; let rowIndex = $index) {
        @for (cell of row; track cell; let colIndex = $index) {
          
          <div class="cell" [class]="getCellColor(rowIndex, colIndex) " (click)="validMoves(rowIndex, colIndex)">
            @if (cell?.image) { 
              <img [src]="cell?.image" width="50" height="50" />
            }
          </div>
        }
      }
    </div>
  </div>
  